floodit/FloodGate Dungeon/app/src/main/res/values/strings.xml
floodit/FloodGate Dungeon/.gradle/*
floodit/FloodGate Dungeon/.idea/*
floodit/FloodGate Dungeon/build/*
floodit/FloodGate Dungeon/gradle/*
floodit/FloodGate Dungeon/app/build/*
floodit/FloodGate Dungeon/floodgate.jks
floodit/FloodGate Dungeon/gradlew
floodit/FloodGate Dungeon/gradlew.bat
floodit/FloodGate Dungeon/import-summary.txt
floodit/FloodGate Dungeon/local.properties
floodit/FloodGate Dungeon/settings.gradle
floodit/FloodGate Dungeon/app/app-release.apk
floodit/FloodGate Dungeon/app/app.iml
floodit/FloodGate Dungeon/FloodGate Dungeon.iml
floodit/FloodGate Dungeon/app/src/main/assets/Screenshot_2015-11-26-15-23-35.png
